/* Modify/override style classes here */
/* This is particular to the Just the Docs theme */
/* h1 { color: #FF0000; } */

/* table styling */
.table-wrapper table thead th {
    background-color: #d1d7dc;
}
.table-wrapper table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.table-wrapper table tbody tr:nth-child(even) {
    background-color: #f5f6fa;
}
.table-wrapper table td {
    background-color: transparent;
}

/* triple tick code blocks */
div.highlight, pre.highlight {
  background-color: #f5f6fa;
}

/* inline single-tick code blocks */
:not(pre,figure) > code {
    padding: 0.4em 0.4em;
    background-color: #f5f6fa;
    border: 1px solid #999999;
}